<h2><%= @post.title %></h2>
<h5>Post created: <%= @post.created_at.to_date %></h5>
<br >

<p><%= @post.content %></p>
<br >
<p>
  <%= link_to "Comment", new_post_comment_path(@post), class: ['btn-success', 'btn-sm'] %>
  <!--  add that current user must be equal to user that created post/comments in order to edit them-->
  <% if current_user %>
    <%= link_to "Edit Post", edit_post_path(@post), class: ['btn-warning', 'btn-sm'] %>
    <%= link_to "Delete Post", post_path(@post), class: ['btn-danger', 'btn-sm'], :data => { :confirm => "Are you sure?",
                                                            :method => "delete" } %>
  <% end %>
</p>
<br >
<br >
<p>
  <% if @post.comments.any? %>
    <h4>Comments</h4>
    <% @post.comments.each do |comment| %>
      <div class="well"><p>
        <%= comment.text %><br><br>
        <% if current_user %>
          <%= link_to 'Edit Comment', edit_post_comment_path(@post, comment), class: ['btn-warning', 'btn-sm'] %>
          <%= link_to 'Delete Comment', post_comment_path(@post, comment), class: ['btn-danger', 'btn-sm'], :data => { :confirm => "Are you sure?",
                                                                                                           :method => "delete" } %>

        <% end %>
    </p></div>
    <% end %>
  <% else %>
    <p>There are no comments yet for this post.</p>
  <% end %>
</p>

<p><%= link_to "Home", posts_path %></p>
